svg{
    position : absolute;
    top: 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 50%;
   
    box-shadow: inset .1rem -.1rem 7rem rgba(23, 23, 24, 0.74);
}

.progress{
    stroke: rgb(193, 223, 250);
    fill : none;
    stroke-width: 18.5;
    transform-origin: center;
    transform : rotate(90deg);
    stroke-dasharray: 580;
    stroke-linecap: round;
    @media screen and (min-width : 768px) {
        stroke-width: 24
    }
    @media screen and (min-width : 1024px) {
        stroke-width: 29
    }
    @media screen and (min-width : 1025px) {
        stroke-width: 18;
    }

    &.cache{
        transform : rotate(-45deg);
        stroke: rgb(51, 54, 59);
        stroke-linecap:initial;
    }
}