
.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width : 100%
}

.outer-shadow-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 8rem;
    height : 8rem;
    border-radius: 50%;
    overflow : hidden;
    box-shadow :  
    -.4rem -.4rem 1rem rgb(60, 65, 75, .5),
    .8rem .8rem 1rem rgba(30, 33, 37, .7),
}

.inset-shadow-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 90%;
    height : 90%;
    border-radius: 50%;
    box-shadow: 
    inset -.7rem -.7rem 1rem rgb(60, 65, 75, .4),
    inset .1rem .1rem 1rem rgba(22, 23, 27, .4);
}

.avatar {
    width : 80%;
    height : 80%;
    border-radius: 50%;
    background: rgba(255, 255, 255, .1);
}