.item{
    display: flex;
    align-items: center;
    margin: 2rem 1rem;
    width : 100%;
    font-size: 1rem;
    font-weight: 300;
    border-radius: .5rem;
    color : white
}

.icon{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}