nav{
    height : 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 0 1rem;
}

.searchbar-container{
    flex: 1;
    display: flex;
    justify-content: flex-end;;
    align-items: center;
}
