nav{
    z-index: 2;
    height : 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 0 1rem;
    background: transparent;
}
h3{
    cursor : pointer;
    color : rgba(255, 255, 255, .8);
    margin: 0;
}