.icon-menu-container{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow :  
    -.8rem -.8rem 5rem rgb(60, 65, 75, .8),
    inset .1rem .1rem 1rem rgba(22, 23, 27, .5),
    .3rem -.6rem 1rem rgb(60, 65, 75, .8),
    .8rem .8rem 2rem rgba(30, 33, 37, .8),
    inset -.7rem -.7rem 1.5rem rgb(60, 65, 75, .8),
}

.line{
    width : 60%;
    margin : .1rem;
    height : .2rem;
    background: white;
    transition: .3s linear;
    border-radius: 5rem;
}