<div class = "controls-container">
    <ul class = "btn-container">
        <li>
            <icon-button icon = "previous_song"></icon-button>
        </li>
        <li (click) = "onClickPlay()">
            <icon-button [icon] = "playStateIcon" [bgColor] = "playBtnBg" [iconColor] = "playBtnColor"></icon-button>
        </li>
        <li>
            <icon-button icon = "next_song"></icon-button>
        </li>
    </ul>
    <!-- progress indicator-->
    <svg height = "3px" width = "70%" class= "progress-indicator"></svg>
</div>
