<div class="container">
    <avatar></avatar>
    <ul>
        <sidebar-item label = "Dashboard" icon = 'home'></sidebar-item>
        <sidebar-item label = "Playlist" icon = 'queue_music'></sidebar-item>
        <sidebar-item label = "Categories" icon = 'equalizer'></sidebar-item>
        <sidebar-item label = "Favorites" icon = 'bookmarks'></sidebar-item>
        <sidebar-item label = "Records" icon = 'mic'></sidebar-item>
        <sidebar-item label = "Theme" icon = 'color_lens'></sidebar-item>
        <sidebar-item label = "account" icon = 'settings'></sidebar-item>
    </ul>
</div>
