.container{
    display: flex;
    flex-direction: column;
    height : 100%;
    width: 12rem;
    padding: .4rem .5rem;
    // background : rgba(255, 255, 255, .05);
}
ul{
    list-style: none;
    padding : 0;
}