<div class = 'container'  [@animateSidebar] = 'state' >
    <avatar></avatar>
    <ul>
        <sidebar-item label = 'Tableau de bord' button_bgColor = '#191919' icon = 'home'></sidebar-item>
        <sidebar-item label = 'Playlists' icon = 'playlist'></sidebar-item>
        <sidebar-item label = 'Categories' icon = 'equalizer'></sidebar-item>
        <sidebar-item label = 'Favoris' icon = 'favorites'></sidebar-item>
        <sidebar-item label = 'Audios' icon = 'mic'></sidebar-item>
        <sidebar-item label = 'Compte' icon = 'settings'></sidebar-item>
        <sidebar-item label = 'Déconnexion' icon = 'log_out'></sidebar-item>
    </ul>
</div>
