.knob-container{
    position : absolute;
    top: 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    width : 90%;
    height : 90%;
    border-radius: 50%;
    box-shadow :  
    inset .8rem .6rem 1rem rgba(30, 33, 37, .7),
    inset -.5rem -1rem 7rem rgba(36, 38, 41, 0.5);
}

svg{
    z-index: 1;
    position : absolute;
    top: 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: inherit;
   
    box-shadow: inset .2rem -.1rem 7rem rgba(23, 23, 24, 0.74);
}

.progress{
    stroke: ivory;
    fill : none;
    stroke-width: 18.5;
    transform-origin: center;
    transform : rotate(90deg);
    stroke-dasharray: 456;
    stroke-dashoffset: 200;
    stroke-linecap: round;

    @media screen and (min-width : 768px) {
        stroke-width: 24
    }
    @media screen and (min-width : 1024px) {
        stroke-width: 29
    }
    @media screen and (min-width : 1025px) {
        stroke-width: 18;
    }

    &.cache{
        transform : rotate(-45deg);
        stroke: rgb(51, 54, 59);
        stroke-dashoffset: 285;
        // stroke-linecap:initial;
        stroke-width: 10;
    }
}

.knob{
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%);
    border-radius: inherit;
    width: 70%;
    height: 70%;
    box-shadow:  
        -.4rem -.4rem 1rem rgba(100, 104, 114, 0.5),
        1rem 1rem .5rem rgba(23, 24, 26, 0.5),;
}
