.sidebar-item{
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    width : 100%;
    color : rgba(255, 255, 255, .2);
    border-radius: .5rem;
    cursor : pointer;
}

.icon{
    width : 1rem;
    height : 1rem;
    margin : .5rem;
    stroke-width: .5;
    fill : rgba(255, 255, 255, .2);
}

.sidebar-item-label{
    color : rgb(164, 213, 246);
    font-size: .8rem;
    font-weight: 100;
}