.sidebar-item{
    display: flex;
    align-items: center;
    margin: 1.5rem 1rem;
    width : 100%;
    font-size: .9rem;
    font-weight: 100;
    border-radius: .5rem;
    color : white;
    cursor : pointer;
}

.icon{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    fill : red !important
}