.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width : 2rem;
    height: 2rem;
    border-radius: 50%;
    background : inherit;
    border :none;
    box-shadow: 
        -.2rem -.1rem .6rem rgba(110, 114, 122, .4),
        .4rem 0rem .3rem rgba(19, 21, 24, 0.7),
        inset -.4rem -.4rem 1rem rgb(100, 105, 115, .1),
    ;
    cursor : pointer
}

.btn-icon{
    width : 45%;
    height: 45%;
}